body {
  margin: auto 0;
  font-family: 'Lato', sans-serif;
  background-color: #f6f6f6;
}

/* Navigation Bar */
.main-header {
  /* width:100%; */
  background-color: #ffffff;
  padding: 20px 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  /* padding: 0 10px; */
  margin: 0 24px;
}

.main-nav__item a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  font-size: 1.25em;
}

.main-nav__item a:hover, .main-nav__item a:active {
  color: #d93025;
  transition: all 0.3s linear;
}

.main_nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main_nav__item--cta a:hover, .main_nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/* Introduction */
.all-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr)) minmax(400px, 12fr) repeat(3, minmax(0px, 1fr));
  grid-template-rows: 100px 50% auto;
}

/* .introduction {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.container-grid {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
  font: 600 2em 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
body {
  margin: auto 0;
  font-family: 'Lato', sans-serif;
  background-color: #f6f6f6;
}

/* Navigation Bar */
.main-header {
  /* width:100%; */
  background-color: #ffffff;
  padding: 20px 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  /* padding: 0 10px; */
  margin: 0 24px;
}

.main-nav__item a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  font-size: 1.25em;
}

.main-nav__item a:hover, .main-nav__item a:active {
  color: #d93025;
  transition: all 0.3s linear;
}

.main_nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main_nav__item--cta a:hover, .main_nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/* Introduction */
.all-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr)) minmax(400px, 12fr) repeat(3, minmax(0px, 1fr));
  grid-template-rows: 100px 50% auto;
}

/* .introduction {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.container-grid {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
  font: 600 2em 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

